.nav-bar {
  float: left;
  top: 50%;
  position: absolute;
}

.nav-link a{
    text-decoration: none !important;
    font-weight: bold !important;
    color: black !important;
}

.nav-link a:hover {
    color: gray !important;
}

.nav-link.active a {
    color: gray !important;
}